.contacts{
    margin-top: 150px;
    padding: 45px;
    text-align: center;
    border-top: #e5e5e5 solid 1px;
    
  }
  .contacts a , span{
    
    color: gray;
    text-decoration: none;
    
    
  }
  